.container {
  width: 100%;
  border: 1.5px solid #000000;
  border-radius: 4px;
  margin-bottom: 40px;
  padding-left: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.list {
  width: 100%;
  display: flex;
  gap: 40px;
}
.item {
  display: flex;
  gap: 12px;
}
