.form {
  width: 100%;
  padding: 16px 4px;
  display: flex;
  gap: 16px;
  border: 1.5px solid #000000;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.container {
  display: flex;
  gap: 8px;
}
.button {
  width: 120px;
  color: #ffffff;
  background-color: red;
  border: none;
  border-radius: 5px;
  margin-left: auto;
  cursor: pointer;
}
